/* Red */
/* Pink */
/* Purple */
/* Deep Purple */
/* Indigo */
/* Blue */
/* Light Blue */
/* Cyan */
/* Teal */
/* Green */
/* Light Green */
/* Lime */
/* Yellow */
/* Amber */
/* Orange */
/* Deep Orange */
/* Brown */
/* Grey */
/* Blue Grey */
/* White / Black */
/* Red */
/* Pink */
/* Purple */
/* Deep Purple */
/* Indigo */
/* Blue */
/* Light Blue */
/* Cyan */
/* Teal */
/* Green */
/* Light Green */
/* Lime */
/* Yellow */
/* Amber */
/* Orange */
/* Deep Orange */
/* Brown */
/* Grey */
/* Blue Grey */
/* White / Black */
* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Trebuchet MS";
  font-weight: 900;
  letter-spacing: 0.05rem;
  background-color: #ffffff;
  color: #424242;
}

li {
  list-style: none;
}

a {
  color: #ffffff;
  text-decoration: none;
}

table {
  border-radius: 0.2rem;
  padding: 0.5rem;
  width: 100%;
  font-size: 0.9rem;
  box-shadow: 0 1px 6px 0px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

table:hover {
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.2);
}

th {
  color: #ffffff;
  background-color: #283593;
  background-image: linear-gradient(to right, #3949ab, #5c6bc0);
  padding: 0 0.2rem 0 0.2rem;
  border-radius: 0.2rem;
}

td {
  color: #3949ab;
  border: 0.1rem solid #3949ab;
  border-radius: 0.2rem;
  padding: 0.4rem;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 2fr 8fr;
  grid-template-rows: 0fr 1fr 0fr;
  grid-template-areas: "nav nav nav nav" "sidebar main main main" "footer footer footer footer";
}
.container__nav {
  grid-area: nav;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  margin: 0;
  border-radius: 0;
  background-color: #303f9f;
  background-image: linear-gradient(to right, #3949ab, #5c6bc0);
}
.container__sidebar {
  grid-area: sidebar;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  margin-right: 0;
  border: 0.15rem solid #9fa8da;
}
.container__main {
  grid-area: main;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: 0.15rem solid #9fa8da;
}
.container__footer {
  grid-area: footer;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  margin: 0;
  border-radius: 0;
  background-color: #303f9f;
  background-image: linear-gradient(to right, #3949ab, #5c6bc0);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__branding {
  font-size: 1.5rem;
}
.nav__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding-right: 0.5rem;
}
.nav__btn-logout {
  padding: 0.8rem;
  background-color: #d32f2f;
  color: white;
  font-family: inherit;
  font-weight: bold;
  font-size: small;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  border-radius: 0.2rem;
  outline: none;
  border: none;
  cursor: pointer;
  transition: background-color 200ms linear;
  padding: 0.6rem;
  font-size: 0.9rem;
  border-radius: 1rem;
}
.nav__btn-logout:hover {
  background-color: #f44336;
}
.nav__hamburger {
  display: none;
  cursor: pointer;
}
.nav__bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
}

.sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sidebar__filter {
  display: flex;
  flex-direction: column;
  margin: 0.2rem;
  width: 100%;
}
.sidebar__filter-btn {
  padding: 0.8rem;
  background-color: #5c6bc0;
  color: white;
  font-family: inherit;
  font-weight: bold;
  font-size: small;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  border-radius: 0.2rem;
  outline: none;
  border: none;
  cursor: pointer;
  transition: background-color 200ms linear;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar__filter-btn:hover {
  background-color: #ad1457;
}
.sidebar__filter-btn-archive {
  padding: 0.8rem;
  background-color: #616161;
  color: white;
  font-family: inherit;
  font-weight: bold;
  font-size: small;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  border-radius: 0.2rem;
  outline: none;
  border: none;
  cursor: pointer;
  transition: background-color 200ms linear;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar__filter-btn-archive:hover {
  background-color: #2e7d32;
}
.sidebar__icon {
  padding-right: 0.5rem;
  font-family: none;
  font-size: 1.2rem;
}

.main-profile {
  display: grid;
  grid-template-areas: "table" "update";
}
.main-profile__table {
  grid-area: table;
}
.main-profile__update {
  grid-area: update;
  box-shadow: 0 1px 6px 0px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin-top: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
}

.profile-update-btn {
  padding: 0.8rem;
  background-color: #0097a7;
  color: white;
  font-family: inherit;
  font-weight: bold;
  font-size: small;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  border-radius: 0.2rem;
  outline: none;
  border: none;
  cursor: pointer;
  transition: background-color 200ms linear;
  width: 100%;
  padding: 0.8rem;
  border-radius: 0.2rem;
  font-size: medium;
  text-transform: capitalize;
}
.profile-update-btn:hover {
  background-color: #00bcd4;
}

.popup .popup__overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}
.popup .popup__content {
  position: fixed;
  box-sizing: border-box;
  background: #fff;
  border-radius: 0.2rem;
  padding: 1rem;
  width: 60vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: 2;
}
.popup .popup__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: -moz-max-content;
  height: max-content;
  gap: 0.5rem;
}
.popup .popup__update-text {
  width: 100%;
  padding: 0.2rem;
  border-radius: 0.2rem;
}
.popup .popup__close-btn {
  padding: 0 0.5rem 0 0.5rem;
  background: #222;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 0.2rem;
  cursor: pointer;
}
.popup.active .popup__overlay {
  display: block;
}
.popup.active .popup__content {
  transition: 0.4s;
  transform: translate(-50%, -50%) scale(1);
}

.popup .popup__content {
  display: inline-block;
  overflow: scroll;
  height: 90vh;
}
.popup .popup__update-text {
  box-shadow: 0 1px 6px 0px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: #006064;
  color: #ffffff;
}
.popup__submit {
  width: 100%;
}
.popup__submit-btn {
  padding: 0.8rem;
  background-color: #00bcd4;
  color: white;
  font-family: inherit;
  font-weight: bold;
  font-size: small;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  border-radius: 0.2rem;
  outline: none;
  border: none;
  cursor: pointer;
  transition: background-color 200ms linear;
  width: 100%;
}
.popup__submit-btn:hover {
  background-color: #0097a7;
}
.popup__delete-close-btn {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 0.5rem 0 0.5rem;
  background: #222;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
}
.popup__delete-text {
  font-size: 1.4rem;
}
.popup__delete-img {
  height: 6rem;
  width: 6rem;
}
.popup__delete-submit-btn {
  width: 92%;
}

.grid-container-delete {
  display: grid;
  gap: 4px;
  grid-template-areas: "close" "img" "text" "submit";
}

.grid-item-delete-close-btn {
  grid-area: close;
  text-align: right;
}

.grid-item-delete-img {
  grid-area: img;
  text-align: center;
}

.grid-item-delete-text {
  grid-area: text;
  padding: 1.2rem;
}

.grid-item-delete-submit-btn {
  grid-area: submit;
  text-align: center;
}

#popup__content-delete {
  height: -moz-max-content;
  height: max-content;
  width: -moz-max-content;
  width: max-content;
  overflow: auto;
  background-color: #ffcdd2;
  background-image: linear-gradient(to right, #ffcdd2, #ef9a9a);
}

#archive-delete-submit-btn {
  padding: 0.8rem;
  background-color: #ad1457;
  color: white;
  font-family: inherit;
  font-weight: bold;
  font-size: small;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  border-radius: 0.2rem;
  outline: none;
  border: none;
  cursor: pointer;
  transition: background-color 200ms linear;
}
#archive-delete-submit-btn:hover {
  background-color: #c2185b;
}

.card {
  padding: 1rem 0 0.5rem 0;
}
.card__group {
  height: 4rem;
}
.card__input {
  border: 0.1rem solid #bdbdbd;
  border-radius: 0.2rem;
  font-family: inherit;
  font-weight: inherit;
  font-size: 1rem;
  color: inherit;
  text-align: left;
  outline: none;
  background: none;
  box-sizing: border-box;
  width: 100%;
  padding: 0.8rem;
}
.card__input:hover {
  border-color: #616161;
}
.card__label {
  position: relative;
  left: 0.8rem;
  top: -2.15rem;
  cursor: text;
  transition: 0.2s;
  color: #757575;
  pointer-events: none;
}
.card__email-error {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .card__input:not(:-moz-placeholder-shown).card__input:not(:focus) ~ .card__label {
  top: -3.65rem;
  left: 0.8rem;
  padding: 5px;
  font-size: 0.8rem;
  background-color: rgb(255, 255, 255);
}
.card .card__input:focus ~ .card__label,
.card .card__input:not(:placeholder-shown).card__input:not(:focus) ~ .card__label {
  top: -3.65rem;
  left: 0.8rem;
  padding: 5px;
  font-size: 0.8rem;
  background-color: rgb(255, 255, 255);
}
.card__description {
  border: 0.1rem solid #bdbdbd;
  border-radius: 0.2rem;
  font-family: inherit;
  font-weight: inherit;
  font-size: 1rem;
  color: inherit;
  text-align: left;
  outline: none;
  background: none;
  box-sizing: border-box;
  width: 100%;
  padding: 0.8rem;
  width: 100%;
}
.card__description:hover {
  border-color: #616161;
}

#description-label {
  top: -7.3rem;
  background-color: #ffffff;
  padding: 0.1rem 0.25rem 0.1rem 0.25rem;
  border: 0.1rem solid #bdbdbd;
  border-radius: 0.2rem;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  box-shadow: inset;
  text-align: center;
  -webkit-box-shadow: 0 0 0 1000px #ffffff inset !important;
  -webkit-input-placeholder: 0 0 0 1000px #ffffff inset !important;
  -webkit-text-fill-color: #616161 !important;
}

.grid-container-student {
  display: grid;
  gap: 4px;
  grid-template-areas: "fName fName lName lName" "email email phone phone" "dob dob dob dob" "country country country country" "address address address address" "university university university university" "sid sid sid sid";
}

.grid-item-first-name {
  grid-area: fName;
}

.grid-item-last-name {
  grid-area: lName;
}

.grid-item-email {
  grid-area: email;
}

.grid-item-phone {
  grid-area: phone;
}

.grid-item-dob {
  grid-area: dob;
}

.grid-item-country {
  grid-area: country;
}

.grid-item-address {
  grid-area: address;
}

.grid-item-university {
  grid-area: university;
}

.grid-item-student-id {
  grid-area: sid;
}

.archive {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  border: 0.15rem solid #c5cae9;
  border-radius: 0.2rem;
}
.archive__text {
  text-transform: uppercase;
  font-size: 1.3rem;
}
.archive__add {
  padding: 0.8rem;
  background-color: #388e3c;
  color: white;
  font-family: inherit;
  font-weight: bold;
  font-size: small;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  border-radius: 0.2rem;
  outline: none;
  border: none;
  cursor: pointer;
  transition: background-color 200ms linear;
  font-size: 1.8rem;
  padding: 0.3rem 0.8rem 0.3rem 0.8rem;
}
.archive__add:hover {
  background-color: #4caf50;
}

.archive-hr {
  margin: 1rem;
  border: none;
  height: 3px;
  border-radius: 0.1rem;
  background: #c5cae9;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.archive-history__text {
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: #c5cae9;
  border-radius: 0.2rem;
  text-transform: uppercase;
  font-size: 1rem;
}

.grid-container-archive {
  display: grid;
  gap: 4px;
  grid-template-areas: "cName cName cName cName" "cAddress cAddress cAddress cAddress" "cCity cCity cCountry cCountry" "cDepartment cDepartment cPosition cPosition" "rSkills rSkills rSkills rSkills" "sDate sDate eDate eDate" "fEmail fEmail fEmail fEmail" "wDescription wDescription wDescription wDescription";
}

.grid-item-company-name {
  grid-area: cName;
}

.grid-item-company-address {
  grid-area: cAddress;
}

.grid-item-company-city {
  grid-area: cCity;
}

.grid-item-company-country {
  grid-area: cCountry;
}

.grid-item-company-department {
  grid-area: cDepartment;
}

.grid-item-company-position {
  grid-area: cPosition;
}

.grid-item-required-skills {
  grid-area: rSkills;
}

.grid-item-start-date {
  grid-area: sDate;
}

.grid-item-end-date {
  grid-area: eDate;
}

.grid-item-faculty-email {
  grid-area: fEmail;
}

.grid-item-work-description {
  grid-area: wDescription;
  padding-bottom: 3.5rem;
}

.archive-box {
  border-radius: 0.2rem;
  padding: 1rem;
  margin: 0.5rem 0 0.5rem 0;
  background-color: #c5cae9;
}
.archive-box__id {
  margin-bottom: 0.3rem;
  background-color: white;
  text-align: center;
}
.archive-box__details {
  background-color: white;
}
.archive-box__update {
  padding: 0.8rem;
  background-color: #0097a7;
  color: white;
  font-family: inherit;
  font-weight: bold;
  font-size: small;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  border-radius: 0.2rem;
  outline: none;
  border: none;
  cursor: pointer;
  transition: background-color 200ms linear;
}
.archive-box__update:hover {
  background-color: #00bcd4;
}
.archive-box__delete {
  padding: 0.8rem;
  background-color: #d32f2f;
  color: white;
  font-family: inherit;
  font-weight: bold;
  font-size: small;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  border-radius: 0.2rem;
  outline: none;
  border: none;
  cursor: pointer;
  transition: background-color 200ms linear;
}
.archive-box__delete:hover {
  background-color: #f44336;
}

.footer {
  display: flex;
  justify-content: center;
  color: #ffffff;
}

@media only screen and (max-width: 992px) {
  .container {
    grid-template-columns: 3fr 8fr;
  }
  .popup .popup__content {
    width: 80vw;
    height: 90vh;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0fr 1fr 4fr 0fr;
    grid-template-areas: "nav" "sidebar" "main" "footer";
  }
  .container__nav {
    grid-area: nav;
  }
  .container__sidebar {
    grid-area: sidebar;
    margin-right: 0.5rem;
    margin-bottom: 0;
  }
  .container__main {
    grid-area: main;
  }
  .container__footer {
    grid-area: footer;
  }
  .nav__hamburger {
    display: block;
  }
  .nav__hamburger.active .nav__bar:nth-child(2) {
    opacity: 0;
  }
  .nav__hamburger.active .nav__bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .nav__hamburger.active .nav__bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav__menu {
    position: fixed;
    top: -100%;
    left: -100%;
    gap: 0;
    flex-direction: column;
    background-color: #5c6bc0;
    width: 100%;
    text-align: center;
    transition: 0.4s;
  }
  .nav__menu.active {
    top: 0;
    left: 0;
  }
  .nav__btn-register {
    margin: 0.5rem 0 0 0;
    width: 10rem;
  }
  .nav__btn-logout {
    margin: 0.5rem;
    width: 99%;
  }
  .popup .popup__content {
    width: 90vw;
  }
  .popup .popup__update-text {
    font-size: large;
  }
  .popup .popup__close-btn {
    font-size: 1.45rem;
  }
  .grid-container-student {
    display: flex;
    flex-direction: column;
  }
  .grid-container-archive {
    display: flex;
    flex-direction: column;
  }
  #popup__content-delete {
    height: -moz-max-content;
    height: max-content;
    width: 90vw;
    overflow: auto;
  }
}/*# sourceMappingURL=student.css.map */