/* Red */
/* Pink */
/* Purple */
/* Deep Purple */
/* Indigo */
/* Blue */
/* Light Blue */
/* Cyan */
/* Teal */
/* Green */
/* Light Green */
/* Lime */
/* Yellow */
/* Amber */
/* Orange */
/* Deep Orange */
/* Brown */
/* Grey */
/* Blue Grey */
/* White / Black */
/* Red */
/* Pink */
/* Purple */
/* Deep Purple */
/* Indigo */
/* Blue */
/* Light Blue */
/* Cyan */
/* Teal */
/* Green */
/* Light Green */
/* Lime */
/* Yellow */
/* Amber */
/* Orange */
/* Deep Orange */
/* Brown */
/* Grey */
/* Blue Grey */
/* White / Black */
* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Trebuchet MS';
  font-weight: 900;
  letter-spacing: 0.05rem;
  background-color: aliceblue;
  color: #616161;
}

.box {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  place-items: center;
      grid-template-areas: "navbar" "main" "footer";
}

.box__navbar {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: navbar;
  width: 90vw;
  border-bottom: 2px solid #9e9e9e;
  margin-top: 0.5rem;
}

.box__logo {
  width: 2rem;
  height: 2rem;
}

.box__main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
}

.box__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  width: 95vw;
  border-top: 2px solid #9e9e9e;
}

.box__footer-text {
  margin-bottom: 0.5rem;
}

#error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ef5350;
  color: #ffffff;
  font-size: small;
  padding: 0.4rem;
}

#error-text {
  font-size: 0.9rem;
  padding-left: 1rem;
}

#error-close-btn {
  padding: 0.8rem;
  background-color: #ef5350;
  color: white;
  font-family: inherit;
  font-weight: bold;
  font-size: small;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  border-radius: 0.3rem;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  font-family: none;
  padding: 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#error-close-btn:hover {
  background-color: #ef5350;
}

#error-close-btn-icon {
  height: 1.5rem;
  width: 1.5rem;
}

.card {
  background-color: white;
  border-radius: 0.3rem;
  padding: 1rem;
  margin: 1rem;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.card__toggle-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0.2rem;
}

.card__toggle-btn-student {
  padding: 0.8rem;
  background-color: #3949ab;
  color: white;
  font-family: inherit;
  font-weight: bold;
  font-size: small;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  border-radius: 0.3rem;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  width: 100%;
}

.card__toggle-btn-student:hover {
  background-color: #5c6bc0;
}

.card__toggle-btn-faculty {
  padding: 0.8rem;
  background-color: #00897b;
  color: white;
  font-family: inherit;
  font-weight: bold;
  font-size: small;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  border-radius: 0.3rem;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  width: 100%;
}

.card__toggle-btn-faculty:hover {
  background-color: #26a69a;
}

.card__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card__profile-img {
  height: 6rem;
  width: 6rem;
  margin: 1.5rem 0 1rem 0;
}

.card__profile-text {
  padding-bottom: 1rem;
  text-transform: uppercase;
}

.card__input {
  border: 2.5px solid #bdbdbd;
  border-radius: 0.3rem;
  font-family: inherit;
  font-weight: inherit;
  font-size: 1rem;
  color: inherit;
  text-align: left;
  outline: none;
  background: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 0.8rem;
}

.card__input:hover {
  border-color: #616161;
}

.card__label {
  position: relative;
  left: 0.8rem;
  top: -2.15rem;
  cursor: text;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #757575;
}

.card__email-error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .card__input:focus ~ .card__label,
.card .card__input:not(:placeholder-shown).card__input:not(:focus) ~ .card__label {
  top: -3.65rem;
  left: 0.8rem;
  padding: 5px;
  font-size: 0.8rem;
  background-color: white;
}

.card input:-webkit-autofill,
.card textarea:-webkit-autofill,
.card select:-webkit-autofill {
  -webkit-box-shadow: inset;
          box-shadow: inset;
  text-align: center;
  -webkit-box-shadow: 0 0 0 1000px #ffffff inset !important;
  -webkit-input-placeholder: 0 0 0 1000px #ffffff inset !important;
  -webkit-text-fill-color: #616161 !important;
}

.card__submit-btn-student {
  padding: 0.8rem;
  background-color: #3949ab;
  color: white;
  font-family: inherit;
  font-weight: bold;
  font-size: small;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  border-radius: 0.3rem;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  width: 100%;
  font-size: medium;
}

.card__submit-btn-student:hover {
  background-color: #5c6bc0;
}

.card__submit-btn-faculty {
  padding: 0.8rem;
  background-color: #00897b;
  color: white;
  font-family: inherit;
  font-weight: bold;
  font-size: small;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  border-radius: 0.3rem;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  width: 100%;
  font-size: medium;
}

.card__submit-btn-faculty:hover {
  background-color: #26a69a;
}

.card__forgot-password-student {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1rem;
  color: #3949ab;
}

.card__forgot-password-faculty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1rem;
  color: #00897b;
}

.card__register-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

.card__register-now-student {
  color: #3949ab;
}

.card__register-now-faculty {
  color: #00897b;
}

.card__hr-student {
  margin: 1rem;
  border: none;
  height: 3px;
  border-radius: 0.1rem;
  background: #3949ab;
}

.card__hr-faculty {
  margin: 1rem;
  border: none;
  height: 3px;
  border-radius: 0.1rem;
  background: #00897b;
}

.card__student-login-home {
  padding: 0.8rem;
  background-color: #3949ab;
  color: white;
  font-family: inherit;
  font-weight: bold;
  font-size: small;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  border-radius: 0.3rem;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  border-radius: 5px 20px 5px;
}

.card__student-login-home:hover {
  background-color: #5c6bc0;
}

.card__faculty-login-home {
  padding: 0.8rem;
  background-color: #00897b;
  color: white;
  font-family: inherit;
  font-weight: bold;
  font-size: small;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  border-radius: 0.3rem;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  border-radius: 5px 20px 5px;
}

.card__faculty-login-home:hover {
  background-color: #26a69a;
}

.grid-container-student {
  display: -ms-grid;
  display: grid;
  gap: 4px;
      grid-template-areas: "fName fName lName lName" "email email phone phone" "dob dob country country" "address address address address" "university university sid sid" "password password confirm confirm" "register register register register";
}

.grid-container-faculty {
  display: -ms-grid;
  display: grid;
  gap: 4px;
      grid-template-areas: "fName fName lName lName" "email email phone phone" "dob dob country country" "university university university university" "password password confirm confirm" "register register register register";
}

.grid-item-first-name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: fName;
}

.grid-item-last-name {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: lName;
}

.grid-item-email {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: email;
}

.grid-item-phone {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: phone;
}

.grid-item-dob {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: dob;
}

.grid-item-country {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: country;
}

.grid-item-address {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: address;
}

.grid-item-company {
  grid-area: company;
}

.grid-item-university {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: university;
}

.grid-item-student-id {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: sid;
}

.grid-item-password {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: password;
}

.grid-item-confirm-password {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: confirm;
}

.grid-item-register {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: register;
}

@media only screen and (max-width: 768px) {
  .grid-container-student {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .grid-container-faculty {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=login.css.map */