// color variables
@import "../collections/colors";

// toggle button
@import "../collections/button";

// input box
@import "../collections/input";

// horizontal line
@import "../collections/hr";

// login button
@mixin btn-login($btn-color, $btn-color-hover) {
  @include btn-design($btn-color, $btn-color-hover);
  width: 100%;
  font-size: medium;
}

// login home button
@mixin btn-login-home($btn-color, $btn-color-hover) {
  @include btn-design($btn-color, $btn-color-hover);
  border-radius: 5px 20px 5px;
}

// forgot password
@mixin link-forgot-password($color) {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  color: $color;
}

// border radius
$radius: 0.3rem;

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Trebuchet MS';
  font-weight: 900;
  letter-spacing: 0.05rem;
  background-color: aliceblue;
  color: $grey-700;
}

.box {
  display: grid;
  height: 100vh;
  place-items: center;
  grid-template-areas:
    "navbar"
    "main"
    "footer";

  &__navbar {
    grid-area: navbar;
    width: 90vw;
    border-bottom: 2px solid $grey-500;
  }

  &__main {
    grid-area: main;
  }

  &__footer {
    display: flex;
    justify-content: center;
    grid-area: footer;
    font-size: 0.8rem;
    width: 95vw;
    border-top: 2px solid $grey-500;
  }
}

// =============================== error handling =============================== //
#error {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $red-400;
  color: $white;
  font-size: small;
  padding: 0.4rem;
}

#error-close-btn {
  @include btn-design($red-400, $red-400);
  font-family: none;
  font-size: 1.3rem;
  padding: 0.2rem;
}

.card {
  background-color: white;
  border-radius: $radius;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

  // =============================== toggle buttons =============================== //
  &__toggle-btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 0.2rem;
  }

  &__toggle-btn-student {
    @include btn-design($purple-400, $purple-300);
    width: 100%;
  }

  &__toggle-btn-employer {
    @include btn-design($blue-500, $blue-300);
    width: 100%;
  }

  &__toggle-btn-faculty {
    @include btn-design($green-500, $green-300);
    width: 100%;
  }

  // =============================== profile text =============================== //
  &__profile {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__profile-img {
    height: 6rem;
    width: 6rem;
    margin: 1.5rem 0 1rem 0;
  }

  &__profile-text {
    padding-bottom: 1rem;
    text-transform: uppercase;
  }

  // =============================== user input =============================== //
  &__input {
    @include input();
  }

  &__label {
    @include label();
  }

  &__email-error {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card__input:focus ~ .card__label,
  .card__input:not(:placeholder-shown).card__input:not(:focus) ~ .card__label {
    top: -3.88rem;
    left: 0.8rem;
    padding: 5px;
    font-size: 0.8rem;
    background-color: rgb(255, 255, 255);
  }

  @include input-autocomplete-animation();

  // =============================== submit button =============================== //
  &__submit-btn-student {
    @include btn-login($purple-400, $purple-300);
  }

  &__submit-btn-employer {
    @include btn-login($blue-500, $blue-300);
  }

  &__submit-btn-faculty {
    @include btn-login($green-500, $green-300);
  }

  // =============================== forgot password link =============================== //
  &__forgot-password-student {
    @include link-forgot-password($purple-400);
  }

  &__forgot-password-employer {
    @include link-forgot-password($blue-500);
  }

  &__forgot-password-faculty {
    @include link-forgot-password($green-500);
  }

  // =============================== register now link =============================== //
  &__register-block {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  &__register-now-student {
    color: $purple-400;
  }

  &__register-now-employer {
    color: $blue-500;
  }

  &__register-now-faculty {
    color: $green-500;
  }

  // =============================== horizontal line =============================== //
  &__hr-student {
    @include horizontal-line($purple-400);
  }

  &__hr-employer {
    @include horizontal-line($blue-500);
  }

  &__hr-faculty {
    @include horizontal-line($green-500);
  }

  // =============================== registration page =============================== //
  &__student-login-home {
    @include btn-login-home($purple-400, $purple-300);
  }

  &__employer-login-home {
    @include btn-login-home($blue-500, $blue-300);
  }

  &__faculty-login-home {
    @include btn-login-home($green-500, $green-300);
  }
}

// =============================== registration grid =============================== //
.grid-container-student {
  display: grid;
  gap: 4px;
  grid-template-areas:
    "fName fName lName lName"
    "email email phone phone"
    "dob dob country country"
    "address address address address"
    "university university sid sid"
    "password password confirm confirm"
    "register register register register";
}

.grid-container-employer {
  display: grid;
  gap: 4px;
  grid-template-areas:
    "fName fName lName lName"
    "email email phone phone"
    "dob dob country country"
    "company company company company"
    "password password confirm confirm"
    "register register register register";
}

.grid-container-faculty {
  display: grid;
  gap: 4px;
  grid-template-areas:
    "fName fName lName lName"
    "email email phone phone"
    "dob dob country country"
    "university university university university"
    "password password confirm confirm"
    "register register register register";
}

.grid-item-first-name {
  grid-area: fName;
}

.grid-item-last-name {
  grid-area: lName;
}

.grid-item-email {
  grid-area: email;
}

.grid-item-phone {
  grid-area: phone;
}

.grid-item-dob {
  grid-area: dob;
}

.grid-item-country {
  grid-area: country;
}

.grid-item-address {
  grid-area: address;
}

.grid-item-company {
  grid-area: company;
}

.grid-item-university {
  grid-area: university;
}

.grid-item-student-id {
  grid-area: sid;
}

.grid-item-password {
  grid-area: password;
}

.grid-item-confirm-password {
  grid-area: confirm;
}

.grid-item-register {
  grid-area: register;
}

@media only screen and (max-width: 768px) {
  .grid-container-student {
    display: flex;
    flex-direction: column;
  }

  .grid-container-employer {
    display: flex;
    flex-direction: column;
  }

  .grid-container-faculty {
    display: flex;
    flex-direction: column;
  }
}
