<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" type="text/css" href="../../assets/styles/home/home.css">

    <title>Internship Repository</title>

  </head>

  <body>

    <div class="container">

      <!-- Navbar -->
      <header class="container__nav">

        <nav class="nav">

          <a href="home.html" class="nav__branding">Internship Repository</a>

          <ul class="nav__menu">
            <li class="nav__item">
              <button class="nav__btn-register">Register</button>
            </li>
            <li class="nav__item">
              <button class="nav__btn-login" onclick="window.location.href='../login/login.html'">Login</button>
            </li>
          </ul>

          <div class="nav__hamburger">
            <span class="nav__bar"></span>
            <span class="nav__bar"></span>
            <span class="nav__bar"></span>
          </div>

        </nav>

      </header>
      <!-- /Navbar -->

      <!-- Sidebar -->
      <div class="container__sidebar">

        <div class="sidebar">

          <div class="sidebar__archives">
            <button class="sidebar__archives-btn" onclick="window.location.href='../archives/archives.html'">
              <span>Archives</span>
            </button>
          </div>

          <div class="sidebar__hr">
            <hr class="sidebar__hr-archives-filter">
          </div>

          <div class="sidebar__filter">
            <button class="sidebar__filter-btn">
              <span>Filter By</span>
              <span><i class="fa-solid fa-plus"></i></span>
            </button>
          </div>

        </div>

      </div>
      <!-- /Sidebar -->

      <!-- Main -->
      <main class="container__main">

        <div class="main">

          <div class="main__search">
            <div class="search">
              <span class="search__icon"><i class="fa fa-search" aria-hidden="true"></i></span>
              <input class="search__box" type="text" name="">
            </div>
          </div>

          <div class="main__content">
            <div class="job-short">

              <div class="job-short__left">

                <div class="job-short__title">
                  <span>Game Artist (2D)</span>
                </div>

                <div class="job-short__company">
                  <span><i class="fa-solid fa-building"></i></span>
                  <span>NapTech Games</span>
                </div>

                <div class="job-short__city">
                  <span><i class="fa-solid fa-map-location"></i></span>
                  <span>Dhaka</span>
                </div>

                <div class="job-short__country">
                  <span><i class="fa-solid fa-earth-asia"></i></span>
                  <span>Bangladesh</span>
                </div>

              </div>

              <button class="job-short__right">+</button>

            </div>
            <div class="job">

              <div class="job__group">
                <span class="job__card-text">
                  <span>Position</span>
                  <span>:</span>
                </span>
                <span class="job__card-data">Graphic Designer (2D Artist)</span>
              </div>

              <div class="job__group">
                <span class="job__card-text">
                  <span>Responsibilities</span>
                  <span>:</span>
                </span>
                <span class="job__card-data">• Create character concepts art,
                  Illustration, environments, and backgrounds.
                  • Props Common trees, bushes crates, barrels.
                  • Characters Player Character Variants, Villager NPCs, Common
                  Enemies.
                  • Create a game icon, interface, and menus.
                  • Create assets from scratch in Adobe Photoshop, Illustrator,
                  or Inkscape.
                  • Create artwork for game logos, symbols, objects, and other
                  theme art.
                  • Communicate with the rest of our development team.
                  • Basic Knowledge of color theory, UX/UI, concept sketching,
                  and storyboarding.</span>
              </div>

              <div class="job__group">
                <span class="job__card-text">
                  <span>Required Skills</span>
                  <span>:</span>
                </span>
                <span class="job__card-data">Proficient in Adobe Illustrator and
                  Adobe Photoshop or other equivalent
                  software.</span>
              </div>

              <div class="job__group">
                <span class="job__card-text">
                  <span>Payment</span>
                  <span>:</span>
                </span>
                <span class="job__card-data">Unpaid</span>
              </div>

              <div class="job__group">
                <span class="job__card-text">
                  <span>Benefits</span>
                  <span>:</span>
                </span>
                <span class="job__card-data">Will be given an intern working
                  certificate.</span>
              </div>

              <button class="job__apply">Apply</button>

            </div>
          </div>

        </div>

      </main>
      <!-- /Main -->

      <!-- Footer -->
      <footer class="container__footer">
        <div class="footer">
          <span>©Team Aurora</span>
        </div>
      </footer>
      <!-- /Footer -->

    </div>

    <script src="../../assets/js/animation/animation.js"></script>

  </body>

</html>
