<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" type="text/css" href="../../assets/styles/home/home.css">

  <title>Internship Repository System</title>

</head>

<body>

  <div class="container">

    <!-- Navbar -->
    <nav class="container__nav">

      <div class="nav">
        <h1 class="nav__title">Internship Repository System</h1>
        <button class="nav__btn-login" onclick="window.location.href='../login/login.html'">Login</button>
        <button class="nav__btn-register">Register</button>
      </div>

    </nav>
    <!-- /Navbar -->

    <!-- Sidebar -->
    <div class="container__sidebar">
      Sidebar
    </div>
    <!-- /Sidebar -->

    <!-- Main -->
    <main class="container__main">

      <div class="main">

        <div class="main__search">

          <div class="search">
            <span class="search__icon"><i class="fa fa-search" aria-hidden="true"></i></span>
            <input class="search__box" type="text" name="">
          </div>

        </div>

        <div class="main__content">
          Main Content
        </div>
      </div>
    </main>
    <!-- /Main -->

    <!-- Footer -->
    <footer class="container__footer">
      Footer
    </footer>
    <!-- /Footer -->

  </div>

</body>

</html>