@mixin btn-design($btn-color, $btn-color-dark) {
  padding: 1rem 1rem;
  background-color: $btn-color;
  color: white;
  font-family: inherit;
  font-weight: bold;
  font-size: small;
  text-transform: uppercase;
  border-radius: $radius;
  outline: none;
  border: none;
  cursor: pointer;
  transition: background-color 200ms linear;

  &:hover {
    background-color: $btn-color-dark;
  }
}
