$clr-purple: hsl(300, 42%, 51%);
$clr-purple-hover: #db5fdb;
$clr-green: #3eb769;
$clr-green-hover: #39c96b;
$clr-blue: #0d6efd;
$clr-blue-hover: #3f8bfd;
$clr-grey: #cfd8dc;
$clr-grey-dark: #5e6e75;
$clr-grey-darker: #465055;
