@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/* Red */
/* Pink */
/* Purple */
/* Deep Purple */
/* Indigo */
/* Blue */
/* Light Blue */
/* Cyan */
/* Teal */
/* Green */
/* Light Green */
/* Lime */
/* Yellow */
/* Amber */
/* Orange */
/* Deep Orange */
/* Brown */
/* Grey */
/* Blue Grey */
/* White / Black */
* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
  letter-spacing: 0.05rem;
  background-color: #ffffff;
  color: #ffffff;
}

li {
  list-style: none;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.container {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-columns: 1.5fr 8fr;
      grid-template-columns: 1.5fr 8fr;
  -ms-grid-rows: 0fr 1fr 0fr;
      grid-template-rows: 0fr 1fr 0fr;
      grid-template-areas: "nav nav nav nav" "sidebar main main main" "footer footer footer footer";
}

.container__nav {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: nav;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  margin: 0;
  border-radius: 0;
  background-color: #1976d2;
}

.container__sidebar {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: sidebar;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  margin-right: 0;
  border: 0.15rem solid #bbdefb;
}

.container__main {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: main;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: 0.15rem solid #bbdefb;
}

.container__footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: footer;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  margin: 0;
  border-radius: 0;
  background-color: #1976d2;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__branding {
  font-size: 1.5rem;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  padding-right: 0.5rem;
}

.nav__btn-register {
  padding: 0.8rem;
  background-color: #388e3c;
  color: white;
  font-family: inherit;
  font-weight: bold;
  font-size: small;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  border-radius: 0.3rem;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  -webkit-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 0.6rem;
  font-size: 0.9rem;
}

.nav__btn-register:hover {
  background-color: #4caf50;
}

.nav__btn-register:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.nav__btn-login {
  padding: 0.8rem;
  background-color: #9c27b0;
  color: white;
  font-family: inherit;
  font-weight: bold;
  font-size: small;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  border-radius: 0.3rem;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  -webkit-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 0.6rem;
  font-size: 0.9rem;
}

.nav__btn-login:hover {
  background-color: #ba68c8;
}

.nav__btn-login:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.nav__hamburger {
  display: none;
  cursor: pointer;
}

.nav__bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar__archives {
  width: 100%;
  margin: 0.5rem;
}

.sidebar__archives-btn {
  padding: 0.8rem;
  background-color: #ad1457;
  color: white;
  font-family: inherit;
  font-weight: bold;
  font-size: small;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  border-radius: 0.3rem;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  -webkit-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 0.8rem;
  font-size: 1rem;
  width: 100%;
}

.sidebar__archives-btn:hover {
  background-color: #d81b60;
}

.sidebar__archives-btn:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.sidebar__hr {
  width: 100%;
  margin: 0.5rem;
}

.sidebar__hr-archives-filter {
  margin: 1rem;
  border: none;
  height: 3px;
  border-radius: 0.1rem;
  background: #1565c0;
  margin: 0;
}

.sidebar__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0.5rem;
  width: 100%;
}

.sidebar__filter-btn {
  padding: 0.8rem;
  background-color: #1565c0;
  color: white;
  font-family: inherit;
  font-weight: bold;
  font-size: small;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  border-radius: 0.3rem;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  padding: 0.5rem;
  width: 100%;
  margin: 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sidebar__filter-btn:hover {
  background-color: #1e88e5;
}

.main {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "search" "content";
}

.main__search {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: search;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  -webkit-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #f06292;
}

.main__search:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.main__content {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: content;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  background-color: #455a64;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search__icon {
  font-size: 20px;
  padding: 0.2rem;
  margin-right: 0.2rem;
  color: #ffffff;
}

.search__box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 0;
  border: none;
  border-radius: 0.3rem;
  outline: none;
  font-family: inherit;
  font-weight: inherit;
  padding-left: 0.8rem;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 768px) {
  .container {
    -ms-grid-rows: 0fr 1fr 4fr 0fr;
        grid-template-rows: 0fr 1fr 4fr 0fr;
        grid-template-areas: "nav nav nav nav" "sidebar sidebar sidebar sidebar" "main main main main" "footer footer footer footer";
  }
  .container__sidebar {
    margin-right: 0.5rem;
    margin-bottom: 0;
  }
  .nav__hamburger {
    display: block;
  }
  .nav__hamburger.active .nav__bar:nth-child(2) {
    opacity: 0;
  }
  .nav__hamburger.active .nav__bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .nav__hamburger.active .nav__bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
  .nav__menu {
    position: fixed;
    top: -100%;
    left: -100%;
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #42a5f5;
    width: 100%;
    text-align: center;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .nav__menu.active {
    top: 0;
    left: 0;
  }
  .nav__btn-register {
    margin: 0.5rem 0 0 0;
    width: 10rem;
  }
  .nav__btn-login {
    margin: 0.5rem;
    width: 10rem;
  }
}
/*# sourceMappingURL=home.css.map */