@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

// color variables
@import "../colors";

// button
@import "../button";

// toggle button
@import "../hover";

// horizontal line
@import "../hr";

// border radius
$radius: 0.3rem;

@mixin container-style() {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: $radius;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Open Sans", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: 900;
  letter-spacing: 0.05rem;
  background-color: $white;
  color: $white;
}

li {
  list-style: none;
}

a {
  color: $white;
  text-decoration: none;
}

// ============================================= container ============================================= //
.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 2fr 8fr;
  grid-template-rows: 0fr 1fr 0fr;
  grid-template-areas:
    "nav nav nav nav"
    "sidebar main main main"
    "footer footer footer footer";

  &__nav {
    grid-area: nav;
    @include container-style();
    margin: 0;
    border-radius: 0;
    background-color: $blue-700;
  }

  &__sidebar {
    grid-area: sidebar;
    @include container-style();
    margin-right: 0;
    border: 0.15rem solid $blue-100;
  }

  &__main {
    grid-area: main;
    @include container-style();
    border: 0.15rem solid $blue-100;
  }

  &__footer {
    grid-area: footer;
    @include container-style();
    margin: 0;
    border-radius: 0;
    background-color: $blue-700;
  }
}
// ============================================= container ============================================= //

// ============================================= navbar ============================================= //
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__branding {
    font-size: 1.5rem;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    padding-right: 0.5rem;
  }

  &__btn-register {
    @include btn-design($green-500, $green-700);
    padding: 0.6rem;
    font-size: 0.9rem;
  }

  &__btn-login {
    @include btn-design($purple-500, $purple-700);
    padding: 0.6rem;
    font-size: 0.9rem;
  }

  &__hamburger {
    display: none;
    cursor: pointer;
  }

  &__bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: $white;
  }
}
// ============================================= navbar ============================================= //

// ============================================= sidebar ============================================= //
.sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__archives {
    width: 100%;
    margin: 0.5rem;
  }

  &__archives-btn {
    @include btn-design($teal-800, $teal-600);
    @include hover-content();
    padding: 0.8rem;
    font-size: 1rem;
    width: 100%;
  }

  &__archives-btn:hover {
    @include hover-state();
  }

  &__hr {
    width: 100%;
    margin: 0.5rem;
  }

  &__hr-archives-filter {
    @include horizontal-line($blue-800);
    margin: 0;
  }

  &__filter {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    width: 100%;
  }

  &__filter-btn {
    @include btn-design($blue-800, $blue-600);
    padding: 0.5rem;
    width: 100%;
    margin: 0.2rem;
    display: flex;
    justify-content: space-between;
  }
}
// ============================================= sidebar ============================================= //

// ============================================= main ============================================= //
.main {
  display: grid;
  grid-template-areas:
    "search"
    "content";

  &__search {
    grid-area: search;
    @include container-style();
    @include hover-content();
    border: 0.15rem solid $blue-400;
    background-color: $blue-100;
  }

  &__search:hover {
    @include hover-state();
    transform: scale(1.005);
  }

  &__content {
    grid-area: content;
    @include container-style();
    @include hover-content();
    // border: 0.15rem solid $blue-100;
    color: $grey-700;
  }

  &__content:hover {
    @include hover-state();
  }
}

// --------------------------------------------- search --------------------------------------------- //
.search {
  display: flex;

  &__icon {
    font-size: 20px;
    padding: 0.2rem;
    margin-right: 0.2rem;
    color: $blue-500;
  }

  &__box {
    flex: 1;
    width: 0;
    border: none;
    border-radius: 2rem;
    border: 0.1rem solid $blue-400;
    outline: none;
    font-family: inherit;
    font-weight: inherit;
    padding-left: 0.8rem;
  }
}
// --------------------------------------------- search --------------------------------------------- //

// --------------------------------------------- job --------------------------------------------- //
.job-short {
  display: flex;
  width: 100%;
  flex-direction: row;

  &__left {
    width: 80%;
    @include container-style();
    border: 2px solid $blue-100;
  }

  &__title {
    font-size: 1.5rem;
  }

  &__company {
    font-size: 1rem;
  }

  &__company span {
    margin-right: 0.2rem;
  }

  &__city {
    font-size: 0.8rem;
  }

  &__city span {
    margin-right: 0.1rem;
  }

  &__country {
    font-size: 0.8rem;
  }

  &__country span {
    margin-right: 0.2rem;
  }

  &__right {
    width: 20%;
    @include btn-design($lime-500, $lime-300);
    font-size: 2rem;
    padding: 0;
    margin: 0.5rem;
  }
}

.job {
  display: none;
  flex-direction: column;

  &__group {
    padding: 0.3rem;
    margin: 0.2rem 0.5rem 0rem 0.5rem;
    border: 0.1rem solid $blue-100;
    border-radius: $radius;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "text data";
    gap: 1rem;
    font-size: 0.9rem;
    white-space: pre-line;
  }

  &__card-text {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    border-radius: $radius;
    padding: 0.3rem;
  }
  &__card-data {
    grid-area: data;
    border-radius: $radius;
    padding: 0.3rem;
  }

  &__apply {
    @include btn-design($pink-700, $pink-500);
    margin: 0.5rem;
    text-align: center;
    font-size: large;
  }

  #title {
    font-size: 1.3rem;
  }
}
// --------------------------------------------- job --------------------------------------------- //

// ============================================= main ============================================= //

// ============================================= footer ============================================= //
.footer {
  display: flex;
  justify-content: center;
}
// ============================================= footer ============================================= //

// mobile device optimization
@media only screen and (max-width: 992px) {
  .container {
    grid-template-columns: 3fr 8fr;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0fr 1fr 4fr 0fr;
    grid-template-areas:
      "nav"
      "sidebar"
      "main"
      "footer";

    &__sidebar {
      margin-right: 0.5rem;
      margin-bottom: 0;
    }
  }

  .nav {
    &__hamburger {
      display: block;
    }

    &__hamburger.active .nav__bar:nth-child(2) {
      opacity: 0;
    }

    &__hamburger.active .nav__bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }

    &__hamburger.active .nav__bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }

    &__menu {
      position: fixed;
      top: -100%;
      left: -100%;
      gap: 0;
      flex-direction: column;
      background-color: $blue-400;
      width: 100%;
      text-align: center;
      transition: 0.4s;
    }

    &__menu.active {
      top: 0;
      left: 0;
    }

    &__btn-register {
      margin: 0.5rem 0 0 0;
      width: 10rem;
    }
    &__btn-login {
      margin: 0.5rem;
      width: 10rem;
    }
  }
}
